.vs
CamNavigator.cpp
CamNavigator.h
Install RealSense in RP3.txt
mediciones magneticas.txt
solarbot.sln
Soli_Dev_updater.docx


//Pasta solarbot
solarbot/readme/*
solarbot/solarbot.vcxproj.user
solarbot/solarbot.vcxproj
solarbot/obj/*
solarbot/AES128.cpp
solarbot/AES128.h
solarbot/Cam_Realsense.cpp
solarbot/Cam_Realsense.h
solarbot/CamNavigator.cpp
solarbot/CamNavigator.h
solarbot/ClientSocket.cpp
solarbot/ClientSocket.h
solarbot/ControlUnit.cpp
solarbot/ControlUnit.h
solarbot/CRC8.cpp
solarbot/CRC8.h
solarbot/CRC16.cpp
solarbot/CRC16.h
solarbot/Cropmapping_Process.cpp
solarbot/Cropmapping_Process.h
solarbot/Detect_object.cpp
solarbot/Detect_object.h
solarbot/err.h
solarbot/Fast512BytesCircularBuffer.cpp
solarbot/Fast512BytesCircularBuffer.h
solarbot/Frame.cpp
solarbot/Frame.h
solarbot/GPS.cpp
solarbot/GPS.h
solarbot/GPSConsumer.cpp
solarbot/GPSConsumer.h
solarbot/Head.cpp
solarbot/Head.h
solarbot/LineNavigator.cpp
solarbot/LineNavigator.h
solarbot/main.cpp
solarbot/main_test.cpp
solarbot/MasterApp.cpp
solarbot/MasterApp.h
solarbot/Navigator.cpp
solarbot/Navigator.h
solarbot/PowerUnit.cpp
solarbot/PowerUnit.h
solarbot/PracticalSocket.cpp
solarbot/PracticalSocket.h
solarbot/RobotNetClient.cpp
solarbot/RobotNetClient.h
solarbot/RobotNetServer.cpp
solarbot/RobotNetServer.h
solarbot/Server_Socket_Main.cpp
solarbot/ServerSocket.cpp
solarbot/ServerSocket.h
solarbot/SharedGeoImage.cpp
solarbot/SharedGeoImage.h
solarbot/simple_client_main.cpp
solarbot/simple_server_main.cpp
solarbot/Socket.cpp
solarbot/Socket.h
solarbot/SocketException.h
solarbot/Solarbot.cpp
solarbot/Solarbot.h
solarbot/Telemetry.cpp
solarbot/Telemetry.h
solarbot/TestUDPServer.cpp
solarbot/UdpVideoSender.cpp
solarbot/UdpVideoSender.h
solarbot/WMM.cpp
solarbot/WMM.h
